# Junk
.DS_Store
*.el

# Dropbox-related files
/.dropbox
Icon*

# Directories of binary files
/articles/
/poster/fig/

# Raw data
/data/

# LaTeX auxiliary files
*.aux
*.bak
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex
*.synctex.gz
*.toc
*.vrb

# All PDFs
*.pdf

# Binary R output
*.RData
*.rda

# Predicted probability output
*.csv

# Tikz output
/slides/confusion.tex
/slides/roc.tex
/slides/*.png
/latex/fig-*.tex
/slides/fig-*.tex

# Polmeth abstract file
abstract-polmeth.md

# Packrat package sources
/R/packrat/src/

# xtable output
latex/tab-*.tex
slides/tab-*.tex

# Other programmatically generated LaTeX
latex/list-*.tex
slides/list-*.tex

# R history files
.Rhistory

# Stata files
*.dta

# SLURM submission scripts
*.slurm

# Benchmarking output
R/results-benchmark.txt

# UL/DL scripts
R/accre-push.sh
R/accre-pull.sh

# Utility scripts that don't contribute to the analysis
R/zz-*.r

# Rob's slides
/slides-rjc/
