# Junk
.DS_Store
*.el

# Dropbox-related files
/.dropbox
Icon*

# Directories of binary files
/articles/
/poster/fig/

# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc

# All PDFs
*.pdf

# Binary R output
*.RData
*.rda

# Tikz output
/slides/confusion.tex
/slides/roc.tex
/slides/*.png

# Polmeth abstract file
abstract-polmeth.md

# Packrat package sources
/R/packrat/src/

# xtable output
latex/tab-*.tex
