# Junk
.DS_Store
*.el

# Dropbox-related files
/.dropbox
Icon*

# Directories of binary files
/articles/
/poster/fig/

# LaTeX auxiliary files
*.aux
*.bak
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex
*.toc

# All PDFs
*.pdf

# Binary R output
*.RData
*.rda

# Predicted probability output
*.csv

# Tikz output
/slides/confusion.tex
/slides/roc.tex
/slides/*.png
/latex/fig-*.tex

# Polmeth abstract file
abstract-polmeth.md

# Packrat package sources
/R/packrat/src/

# xtable output
latex/tab-*.tex

# Other programmatically generated LaTeX
latex/list-*.tex

# R history files
.Rhistory

# Stata files
*.dta

# SLURM submission scripts
*.slurm
